#banner {
  padding: 10px 30px;
  background: #ddf;
  border-bottom: 2px solid;
}

#column {
  width: 900px;
  margin: 0 auto;

  #side {
    float: left;
    background: #eee;
    width: 200px;
  }

  #main {
    margin-left: 215px;
  }
}
