#top-menu {
  background: #002;
  text-align: right;
  margin: 0px;
  padding: 0px;

  ul {
    display: inline;
    list-style: none;
    margin-right: 0.3em;
  }

  li {
    color: #eee;
    display: inline;
    font-size: 70%;
    left-margin: 0.5em;
  }

  a {
    color: #eee;
    font-weight: bold;
  }
}

#banner {
  padding: 10px 30px;
  background: #ddf;
  border-bottom: 2px solid;
}

#column {
  width: 900px;
  margin: 0 auto;

  #side {
    float: left;
    background: #eee;
    width: 200px;
  }

  #main {
    margin-left: 215px;
  }
}
