@import "compass/css3";

@mixin min-height($val) {
  min-height:$val;
  height:auto !important;
  height:$val;
}

@mixin line-bottom($op1: .1, $op2: 1.0) {
  border-bottom: 1px solid rgba(0,0,0,$op1);
  @include box-shadow(rgba(255,255,255,$op2) 0 1px 0);
}

.entry {
  @include min-height(76px);
  @include line-bottom(.2, .7);

  .thumb {
    width: 70px;
    height: 70px;
    text-align: center;
    display: inline;
    line-height: 70px;
    float: left;
    padding: 1px 3px 3px;

    img {
      vertical-align: middle;
    }
  }

  .info {
    font-size: 80%;

    .user {
      float: left;
      .name {
        font-weight: bold;
      }
      .id {
        color: #888
      }
    }
    .datetime {
      text-align: right;
    }
  }

  .message {
    margin-left: 85px;
    margin-bottom: 5px;

    p {
      margin: 0px;
      padding: 0px;
    }
  }
}
